<!-- app/templates/details.html -->
<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'app/bootstrap-4.0.0-dist/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'app/jquery/css/jquery-ui.css' %}">
        <script src="{% static 'app/jquery/js/jquery-1.12.4.js' %}"></script> 
        <script src="{% static 'app/jquery/js/jquery-ui.js' %}"></script> 
        <script>
          $( function() {
            $( "#occurrence_datetime" ).datepicker({ dateFormat: 'yy/mm/dd' });
          } );
        </script>
    </head>
    <body>
        <div class="divMain">
            <div class="divTitle"><div class="divTop">クリティカルインシデント詳細</div></div>
            <form action="/incident/" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td class="table_td1">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <td><div class="divNumber colorSe"><div class="divTop">インシデント番号</div></div></td>
                                <td><div class="divInc2"><input class="inc2" type="text" id="inc_num" name="inc_num" value="{{ インシデント番号 }}" maxlength="13" disabled></input><input type="hidden" id="inc_num_hidden" name="inc_num_hidden" value="{{ インシデント番号 }}"></input></div></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        {% if existing %}
                        <input class="exec" type="submit" value="更新" id="update" name="update"/>
                        {% endif %}
                        {% if not_existing %}
                        <input class="exec" type="submit" value="追加" id="add" name="add"/>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>
                            {% if error_message %}<p class="error">&#9888;&nbsp;{{ error_message }}</p>{% endif %} 
                            {% if info_message %}<p class="info">&#x1F6C8;&nbsp;{{ info_message }}</p>{% endif %}
                            {% if form.errors %}
                                {% for field in form %}
                                    {% if field.errors %}<p class="error">&#9888;&nbsp;{{ field.errors|striptags }}</p>{% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="divBorder">
                            <table class="table1">
                                <tr>
                                    <td>
                                        <table cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><div class="divHead colorSe"><div class="divTop">顧客名</div></div></td>
                                                <td><div class="divText"><input class="name1" type="text" id="user_name" name="user_name" value="{{ 顧客名 }}" maxlength="50"></input></div></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><div class="divHead divHead3 colorSe"><div class="divTop">システム名</div></div></td>
                                                <td><div class="divText"><input class="name1" type="text" id="system_name" name="system_name" value="{{ システム名 }}" maxlength="50"></input></div></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><div class="divHead colorSe"><div class="divTop">発生日時</div></div></td>
                                                <td><div class="divText2"><input class="name2" type="text" id="occurrence_datetime" name="occurrence_datetime" value="{{ 発生日時 }}" maxlength="10"></input></div></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><div class="divHead divHead3 colorSe"><div class="divTop">フラグ状態</div></div></td>
                                                <td><div class="divText2">{{ form.flag_state }}</div></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="divBorder2">
                            <table style="margin-left: 15px;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                    <table cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td><div class="divHead2 colorSe"><div class="divTop">発生事象</div></div></td>
                                            <td colspan="3"><div class="area"><textarea class="area1" id="occurrence_event" name="occurrence_event" maxlength="4000">{{ 発生事象 }}</textarea></div></td>
                                        </tr>
                                        <tr>
                                            <td><div class="divHead2 colorSe"><div class="divTop">業務影響</div></div></td>
                                            <td colspan="3"><div class="area"><textarea class="area1" id="business_impact" name="business_impact" maxlength="4000">{{ 業務影響 }}</textarea></div></td>
                                        </tr>
                                        <tr>
                                            <td><div class="divHead4 colorSe"><div class="divTop">対応状況</div></div></td>
                                            <td colspan="3"><div class="area2"><textarea class="area2" id="support_situation" name="support_situation" maxlength="4000">{{ 対応状況 }}</textarea></div></td>
                                        </tr>
                                        <tr>
                                            <td><div class="divHead4 colorSe"><div class="divTop">次のアクション</div></div></td>
                                            <td colspan="3"><div class="area2"><textarea class="area2" id="next_action" name="next_action" maxlength="4000">{{ 次アクション }}</textarea></div></td>
                                        </tr>
                                        <tr>
                                            <td><div class="divHead2 colorSe"><div class="divTop">発生原因</div></div></td>
                                            <td colspan="3"><div class="area"><textarea class="area1" id="cause" name="cause" maxlength="4000">{{ 発生原因 }}</textarea></div></td>
                                        </tr>
                                        <tr>
                                            <td><div class="divHead2 colorSe"><div class="divTop">対処（暫定）</div></div></td>
                                            <td colspan="3"><div class="area"><textarea class="area1" id="provisional_measures" name="provisional_measures" maxlength="4000">{{ provisional_measures_val }}</textarea></div></td>
                                        </tr>
                                        <tr>
                                            <td><div class="divHead2 colorSe"><div class="divTop">対処（恒久）</div></div></td>
                                            <td colspan="3"><div class="area"><textarea class="area1" id="cope" name="cope" maxlength="4000">{{ cope_val }}</textarea></div></td>
                                        </tr>
                                        <tr>
                                            <td><div class="divHead5 colorSe"><div class="divTop">完了フラグ</div></div></td>
                                            <td colspan="3"><div class="divText2">{{ form.completion_flag }}</div></td>
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            </form>
            <form action="/view1/" method="post">
                {% csrf_token %}
                <input class="exec2" type="submit" value="戻る" id="back" name="back"/>
            </form>
        </div>
    </body>
</html>