<!-- app/templates/index.html -->
<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="30"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'app/bootstrap-4.0.0-dist/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'app/jquery/css/jquery-ui.css' %}">
        <script src="{% static 'app/jquery/js/jquery-1.12.4.js' %}"></script> 
        <script src="{% static 'app/jquery/js/jquery-ui.js' %}"></script> 
        <script>
        $( function() {
            $( "#startDate" ).datepicker({ dateFormat: 'yy/mm/dd' });
            });
        $( function() {
            $( "#endDate" ).datepicker({ dateFormat: 'yy/mm/dd' });
            });
        
        $(document).ready(function() {
            //This will check the status of radio button onload
            $("#realtime").click(function() {
                $.datepicker._clearDate($( "#startDate" ));
                $.datepicker._clearDate($( "#endDate" ));
                $("#startDate").attr('disabled',true);
                $("#endDate").attr('disabled',true);
                $("#id_completion_flag").val(0); //SET TO INCOMPLETE
                $("#id_completion_flag").attr('disabled','disabled'); //DISABLE
            });
            $("#periodic").click(function() {
                $("#startDate").attr('disabled',false);
                $("#endDate").attr('disabled',false);
                $("#id_completion_flag").removeAttr('disabled','disabled'); //ENABLE DROPDOWN
            });
        });
        </script>
    </head>
    <body>
        <div class="divMain">
            <div class="divTitle2"><div class="divTop">クリティカルインシデント一覧</div></div>
            <form action="/" method="post">
            {% csrf_token %}
            <table class="errHomeTable" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="2">
                        <div>
                            {% if error_message %}<p class="error">&#9888;&nbsp;{{ error_message }}</p>{% endif %} 
                            {% if info_message %}<p class="info">&#x1F6C8;&nbsp;{{ info_message }}</p>{% endif %}
                            {% if form.errors %}
                                {% for field in form %}
                                    {% if field.errors %}<p class="error">&#9888;&nbsp;{{ field.errors|striptags }}</p>{% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            </table>
            <div class="divBorder4">
                <table class="table table-striped2 tablePg1 tableStyle"><!--tablePg1-->
                    <thead class="thhead tHead1 tabletd1">
                    <tr>
                        <th scope="col" class="tableth1" style="width: 117px; font-size: 14px; vertical-align: middle;">インシデント番号</th>
                        <th scope="col" class="tableth1" style="width: 85px; font-size: 14px; vertical-align: middle;">ユーザ名</th>
                        <th scope="col" class="tableth1" style="width: 85px; font-size: 14px; vertical-align: middle;">システム名</th>
                        <th scope="col" class="tableth1" style="width: 170px; font-size: 14px; vertical-align: middle;">発生事象</th>
                        <th scope="col" class="tableth1" style="width: 170px; font-size: 14px; vertical-align: middle;">次のアクション</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for inc in incidents %}
                    <tr>
                        <td class="tabletd1" style="vertical-align: text-top !important;"><div class="tableDiv1"><a href="{% url 'view_mgt' inc.インシデント番号 %}">{{ inc.インシデント番号 }}</a></div></td>
                        <td class="tabletd1" style="vertical-align: text-top !important;"><div class="tableDiv1">{{ inc.顧客名 }}</div></td>
                        <td class="tabletd1" style="vertical-align: text-top !important;"><div class="tableDiv1">{{ inc.システム名 }}</div></td>
                        <td class="tabletd1" style="vertical-align: text-top !important;"><div class="tableDiv1">{{ inc.発生事象|truncatechars:45 }}</div></td>
                        <td class="tabletd1" style="vertical-align: text-top !important;"><div class="tableDiv1">{{ inc.次アクション|truncatechars:45 }}</div></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            </form>
        </div>    
    </body>
</html>