<!-- app/templates/index.html -->
<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">

<html>
    <head>
<!--        <meta charset="utf-8">-->
<!--        <title></title>-->
    </head>
    <body>
        <div class="divMain">
            <div class="divTitle"><div class="divTop">クリティカルインシデント詳細記入</div></div>
            <form action="/incident/" method="post"> 
            {% csrf_token %}
            <table>
                <tr>
                    <td style="width: 448px;">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <td><div class="divNumber colorSe"><div class="divTop">インシデント番号</div></div></td>
                                <td><div class="divInc"><input class="inc" type="text" id="inc_num" name="inc_num" value="{{inc_num}}" maxlength="13"></input></div></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <input class="exec" type="submit" value="実行" id="search"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>
                            {% if error_message %}<p class="error">&#9888;&nbsp;{{ error_message }}</p>{% endif %} 
                            {% if info_message %}<p class="info">&#x1F6C8;&nbsp;{{ info_message }}</p>{% endif %}
                        </div>
                    </td>
                </tr>
            </table>
            </form>
            <form action="/view1/" method="post">
                {% csrf_token %}
                <input class="back1" type="submit" value="戻る" id="back" name="back"/>
            </form>
        </div>    
    </body>
</html>